<div class="py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:text-center">
      <h2 class="text-base font-semibold leading-7 text-sky-400">{{ content().eyebrow }}</h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">{{ content().title }}</p>
      <p class="mt-6 text-lg leading-8 text-slate-300">
        {{ content().subtitle }}
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
       <p class="text-slate-400 text-center">
        {{ content().mainContent }}
       </p>
    </div>
  </div>
</div>