@if (post(); as post) {
  <div class="py-24 sm:py-32">
    <div class="mx-auto max-w-3xl px-6 lg:px-8">
      <div class="mb-12">
        <a routerLink="/blog" class="text-sky-400 hover:text-sky-300 transition-colors">&larr; Back to Blog</a>
      </div>
      
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl">{{ post.title }}</h1>
      
      <div class="mt-6 flex items-center gap-x-4 text-sm text-slate-400">
        <span>By {{ post.author }}</span>
        <span class="w-1 h-1 bg-slate-500 rounded-full"></span>
        <time [dateTime]="post.publishDate">{{ post.publishDate }}</time>
      </div>

      <figure class="mt-12">
        <img class="aspect-video rounded-xl bg-slate-800 object-cover" [src]="post.imageUrl" alt="">
      </figure>

      <div class="mt-12 text-slate-300 prose prose-invert prose-p:text-slate-300 prose-headings:text-white" [innerHTML]="safeContent()">
      </div>
    </div>
  </div>
} @else {
  <!-- This content will be briefly visible before redirection -->
  <div class="py-24 sm:py-32 text-center">
    <p class="text-lg text-slate-400">Loading post or post not found...</p>
  </div>
}
